* {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;;
}

body {
    background-repeat: no-repeat;
    background-size: contain;
}

body.theme-light {
    background-color: #fafafa;
    background-image: url(../images/bg-desktop-light.jpg);
}

body.theme-dark {
    background-color: hsl(235, 21%, 11%);
    background-image: url(../images/bg-desktop-dark.jpg);
}

body.theme-light .item,
body.theme-light .agregar,
body.theme-light .agregar__input-text {
    background-color: #ffffff;
    border-bottom: 1px solid #E6E5EA;
    color: #585769;
}

body.theme-light div:not(.actions).item:hover {
    background-color: #ececec;
}

body.theme-light .agregar__container .agregar__link {
    color: #585769;
}

body.theme-light .items-list-all {
    box-shadow: 0px 0px 5px 0px #a1a1a1;
}

.container {
    width: 35%;
    margin: 80px auto;
}

/*=======================
=======   TITLE
=======================*/
.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title__span {
    font-size: 35px;
    font-weight: 700;
    color: white;
    letter-spacing: 4px;
}

.title__img {
    cursor: pointer;
}

/*=======================
=======   Agregar
=======================*/
.item:not(.actions):hover {
    background-color: #726995;
    cursor: pointer;
}

.item:hover .agregar__link-icon {
    opacity: 1;
}
.item {
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
    background-color: hsl(235, 24%, 19%);
    color: white;
    height: 55px;
    align-items: center;
    border: 1px solid transparent;
}
.agregar {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 20px 0;
    padding: 5px 25px;
    background-color: hsl(235, 24%, 19%);
    border-radius: 4px;
    color: white;
    height: 55px;
}

.agregar__container {
    display: flex;
    align-items: center;
}

.size {
    width: 100%;
}

.agregar__link {
    text-decoration: none;
    color: white;
    margin-left: 20px;
}

.agregar__link--decoration {
    text-decoration: line-through;
}

.agregar__checkbox {
    position: relative;
    width: 25px;
    height: 25px;

    border: 1px solid #4d5066;
    border-radius: 20px;
    bottom: 2px;
}

.checkbox--square {
    border-radius: 3px;
}

.agregar__input, .agregar__input--first{
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.agregar__formulario {
    width: 100%;
    margin: 0 0 0 15px;
}

.agregar__input-text {
    padding: 5px;
    background-color: transparent;
    color: white;
    width: 85%;
    border: none;
    border-bottom: 2px solid hsl(233, 14%,25%);
}

.agregar__input-text:focus {
    outline: none;
    border-bottom: 1px solid white;
}

.agregar__link-icon {
    opacity: 0;
    animation: opacity 1s;
}

.agregar__checkbox > .agregar__span {
    opacity: 0;
}

.agregar__span::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 4px;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    transform: rotate(315deg);
    position: absolute;
    top: 8px;
    left: 5px;
}

.agregar__checkbox > .agregar__span {
    transition: all .1s ease-in-out;
    transform: scale(0);
}

.agregar__input:checked + .agregar__span {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#57ddff, #c058f3);
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    border-radius: inherit;
    transform: scale(1);
}
.agregar__input--first:checked + .agregar__span {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#57ddff, #c058f3);
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    border-radius: inherit;
    transform: scale(1);
}
/*=======================
=======   ITEMS LIST ALL
=======================*/

.items-list-all {
    border-radius: 5px;
}

.items-list-all .item:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.items-list-all .item-actions:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.esconder {
    margin-top: 10px;
    display: none;
}

.item-bottom {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

/*=======================
=======   ULTIMATE ITEM
=======================*/
.item-font {
    font-size: 12px;
    cursor: pointer;
}

.blue {
    color: hsl(220, 98%, 61%);;
}

.container-list a {
    text-decoration: none;
    color:  hsl(233, 14%, 35%);
}

.container-list a:hover {
    color: hsl(234, 39%, 85%);
}

/*=======================
=======   FINAL TITLE
=======================*/
.title-final {
    text-align: center;
    margin: 25px auto;
}

.title-final__parrafo {
    color: hsl(233, 14%, 35%);
    font-size: 12px;
}

@media (max-width: 1023px) {
    .container {
        width: 50%;
    }
}

@media (max-width: 767px) {
    body {
        background-size: inherit;
    }

    .container { 
        width: 85%;
    }
    /*===================
    ======= ULTIMATE ITEM =======*/
    .agregar__checkbox {
        margin-left: -10px;
    }

    /*===================
    ======= ULTIMATE ITEM =======*/
    .show {
        display: none;
    }

    .item-font {
        font-size: 15px;
    }

    .esconder {
        display: block;
    }

    .container-list {
        text-align: center;
        margin-top: 10px;
    }
}

/*=======================
=======   GLOBAL
=======================*/
.hidden {
    display: none;
}